.goals {
  margin: 50px auto 0;
  width: 300px;
  height: 300px;
  font-size: 3rem;
}

.center {
  position: relative;
  height: 300px;
  width: 300px;
  // background: 
  //   radial-gradient( 
  //     rgba(51, 51, 51, 0.9281), 
  //     rgba(238, 238, 238, 0.9151), 
  //     rgba(51, 51, 51, 0.349), 
  //     rgba(238, 238, 238, 0.9308), 
  //     rgba(51, 51, 51, 0.9411), 
  //     rgba(238, 238, 238, 0.9212), 
  //     rgba(51, 51, 51, 0.921)
  //   );
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 200px;
    height: 0;
    width: 0;
  }
}

.spinner {
  animation: spin 1s linear;
  animation-iteration-count: 2;
}
  
  .goal {
    position: absolute;
    @include gradient-h1(3rem, -1px -1px 20px rgb(26, 25, 25));
    cursor: pointer;
      &:hover {
        filter: invert(100%);
        text-shadow: none;
      }
  }
  
  .goal1 {
    transform: rotate(-90deg) translate(60px, 110px);
  }
  
  .goal2 {
    transform: translate(300px, 125px);
  }
  .goal3 {
    transform: rotate(90deg) translate(360px, -80px);
  }
  
  .goal4 {
    transform: rotate(180deg) translate(140px, -130px);
  }

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
