.goals {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin: 0 auto;
  font-size: 3rem;
  .goal {
    position: absolute;
    top: 50vh;
    right: 50vw;
    width: 400px;
    text-align: center;
  }
  .goal1{
    transform: rotate(-90deg) translate(50%, 415%);
    background: rgba(47, 102, 255, 0.589);
  }
  .goal2{
    transform: translate(100%, 0%);
    background: rgba(1, 138, 53, 0.555);

  }
  .goal3{
    transform: rotate(90deg) translate(50%, -415%);
    background: rgba(231, 91, 10, 0.527);
  }
  .goal4{
    transform: rotate(180deg);
    background: rgba(117, 1, 78, 0.411);
  }
}
