.goals {
  margin: 50px auto 0;
  width: 300px;
  height: 300px;
  font-size: 3rem;
}

.center {
  position: relative;
  height: 300px;
  width: 300px;
  // background: 
  //   radial-gradient( 
  //     rgba(51, 51, 51, 0.9281), 
  //     rgba(238, 238, 238, 0.9151), 
  //     rgba(51, 51, 51, 0.349), 
  //     rgba(238, 238, 238, 0.9308), 
  //     rgba(51, 51, 51, 0.9411), 
  //     rgba(238, 238, 238, 0.9212), 
  //     rgba(51, 51, 51, 0.921)
  //   );
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 200px;
    height: 0;
    width: 0;
  }
}

.spinner {
  animation: spin 1s linear;
  animation-iteration-count: 1;
}
  
  .goal {
    position: absolute;
    // @include gradient-h1(3rem, -1px -1px 20px rgb(26, 25, 25));
    width: 5px;
    text-shadow: -10px 20px 6px rgb(17, 17, 17);
    height: 3rem;
    @include flexin;
    justify-content: flex-start;
    // background: blueviolet;
    overflow: visible;
    cursor: pointer;
      &:hover {
        color: $accent3;        
      }
  }
  
  .goal1 {
    transform: rotate(-90deg) translate(-85px, 150px);
  }
  
  .goal2 {
    transform: translate(185px, 125px);
    color: $accent4;
    // filter: invert(80%);
    // text-shadow: none;
  }
  .goal3 {
    transform: rotate(90deg) translate(165px, -150px);
  }
  .goal4 {
    transform: rotate(180deg) translate(-110px, -130px);
  }
  .goal5 {
    transform: rotate(235deg) translate(-140px, 30px);
  }
  .goal6 {
    transform: rotate(-45deg) translate(80px, 200px);
  }
  .goal7 {
    transform: rotate(45deg) translate(250px, -30px);
  }
  .goal8 {
    transform: rotate(135deg) translate(30px, -200px);
  }

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
