header {
  position: fixed;
  height: 150px;
  @include flexin;
  justify-content: space-between;
  background: linear-gradient(
   rgba(41, 41, 41, 0.99),
   rgba(41, 41, 41, 0.9),
   rgba(41, 41, 41, 0.8), 
   rgba(41, 41, 41, 0.6),
   rgba(41, 41, 41, 0.3));
  width: 100%;
  @include title(3.2rem, 1.9rem, -1px -1px 40px #000, 2px -2px 10px #000 );
  #title:hover {
    h1 {
      font-size: 3.5em;
      transition: all ease .5s;
    }
    h3 {
      font-size: 2.1em;
      transition: all ease .5s;
    }
  }
  .header-name {
    margin: 25px 0 0 35px;
  }
  .header-nav {
    @include flexin;
    margin: 30px 30px 0 0;
    .nav-block {
      height: 80px;
      width: 80px;
      box-shadow: 5px 5px 10px rgb(20, 20, 20);
      margin: 0 10px;
      h4 {
        font-size: 2rem;
      }
      h6 {
        font-size: 1rem;
      }
    }
    .block1 {
      margin-left: 0px;
      animation: none;
      transform: none;
    }
    .block2, .block3, .block4, .block5 {
      margin-left: 0px;
      animation: none;
    }
    .active {
      filter: opacity(.2);
      cursor: none;
    }
  }
}