.skills-page{
  height: 100vh;
  overflow: scroll;
}

.skills {
  ul {
    padding-top: 200px;
    z-index: 0;
    li {
      margin: 0 auto;
      padding: 5px;
      width: 80vw;
      min-width: 500px;
      text-align: center;
      transition: all ease .5s;
      @include gradient-h1(3rem, -1px -1px 20px rgb(26, 25, 25));
      cursor: none;
      &:hover {
        font-size: 3.3rem;
        filter: invert(100%);
        text-shadow: none;
      }
    }
    li:last-child {
      padding-bottom: 205px;
    }
  }
}

.btn {
  margin: 50vh 0 0 50px;
  position: fixed;
  z-index: 1000;
  background: linear-gradient($accent1, $accent2, $accent3, $accent4, $accent5);
  border: none;
  font-size: 2rem;
  border-radius: 7px;
  outline: none;
  font-family: 'Righteous', cursive;
  padding: 0 15px;
  height: 55px;
  @include flexin();
  transition: all ease-in-out .5s;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
  &:hover {
    filter: invert(100%) brightness(120%);
    box-shadow: 5px 5px 10px white;
    transform: scale(1.05);
  }
}

.pause-btn {
  filter: invert(100%) brightness(90%);
  box-shadow: 5px 5px 10px white;
  &:hover {
    filter: invert(0%) brightness(120%);
    box-shadow: 5px 5px 10px black;
  }
}

.play {
  animation: scroll-up 18s linear infinite;
}

.pause {
  animation: none;
}

.bottom {
  height: 200px;
  width: 100%;
  background: linear-gradient(
    rgba(41, 41, 41, 0.1),
    rgba(41, 41, 41, 0.3),
    rgba(41, 41, 41, 0.6),
    rgba(41, 41, 41, 0.8), 
    rgba(41, 41, 41, 0.9),
    rgba(41, 41, 41, 0.99));
  position: fixed;
  z-index: 10;
  bottom: 0;
}

@keyframes scroll-up {
  0%{
    transform: translate(0%, 100vh);
  }
  50%{
    transform: translate(0%, -15%);
  } 
  100%{
    transform: translate(0%, -80%);
  }
}
