.timeline {
  width: 10px;
  background: repeating-linear-gradient($accent1, $accent2, $accent3, $accent4, $accent5);
  margin-top: 200px;
  @include flexin;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  .marker {
    border: 3px solid rgb(0, 0, 0);
    background: rgba(250, 249, 249, 0.363);
    height: 35px;
    width: 75px;
    margin: 25px 0;
    .content, .arrow {
      display: none;
    }
    h1 {
      text-align: center;
      color: black;
      margin: 3px auto 0;
      font-size: 1.8rem;
    }
    &:hover {
      .content {
        display: block;
        background: black;
        width: 400px;
      }
      &:nth-child(odd) {
        .content {
          margin-left: 80px;
        }
        // .content::after {
        //   content: "";
        //   position: absolute;
        //   top: 100%;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   border: 15px solid black;
        //   border-left-color: transparent;
        //   border-right-color: black;
        //   border-top-color: transparent;
        //   border-bottom-color: transparent;
        //   width: 0;
        //   height: 0;
        //   margin-left: 50px;
        // }
      }
      &:nth-child(even) {
        .content {
          margin-left: -450px;
        }
      }
    }
  }
  .marker:first-child {
    margin-top: 150px;
  }
}