//colors
$darkColor : rgb(41, 41, 41);
$accent1 : aquamarine;
$accent2 : rgb(17, 177, 164);
$accent3 : rgb(1, 148, 167);
$accent4 : rgb(0, 93, 105);
$accent5 : rgb(0, 67, 105);

//fonts
@import url('https://fonts.googleapis.com/css?family=Righteous');


//mixins
@mixin flexin {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title ($h1FS, $h3FS, $h1shadow, $h3shadow) {
  h1 {
    @include gradient-h1($h1FS, $h1shadow);
  }
  h3 {
    font-size: $h3FS;
    color: rgb(201, 199, 199);
    text-shadow: $h3shadow;
  }
}

@mixin gradient-h1($h1FS, $h1shadow) {
  font-size: $h1FS;
  text-shadow: $h1shadow;
  background: -webkit-linear-gradient($accent1, $accent2, $accent3, $accent4, $accent5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//all
html {
  background: $darkColor;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.App {
  color: aquamarine;
  background: $darkColor;
  min-height: 100vh;
  font-family: 'Righteous', cursive;
  overflow-x: unset;
}

main {
  @include flexin;
  min-height: 100vh;
}

.spacer {
  height: 200px;
  width: 100%;
}

section {
  min-height: 100vh;
}

//imports

@import "reset";
@import "Home";
@import "Menu";
@import "Timeline";
@import "Header";
@import "Skills";
@import "Projects";
@import "About";
@import "Goals";